*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.navy-shadow{
    box-shadow: 0px 0px 4px 0px rgba(2, 47, 92, 1);
}
.red-shadow{
    box-shadow: 0px 0px 4px 0px rgba(217, 45, 32, 1);
}
.tabs{
    .tab-item{
        color :#6D6D6D ;
    }
}
.tabs{
    .green-active{
        color :#019168 ;
    }
}
.tabs{
    .black-active{
        color :#021219;
    }
}

.tabs{
    .orange-active{
        color :#F79009;
    }
}
.tabs{
    .red-active{
        color :#D92D20;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}